<a href="https://colab.research.google.com/github/sandeep92134/The-Data-Visualization-Workshop-by-packt/blob/master/module%201/Exercise1_04_Loading_a_Sample_Dataset_and_Calculating_the_Mean_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1.04: Loading a Sample Dataset and Calculating the Mean

In this exercise, we will be loading the `world_population.csv` dataset and calculate the mean of some rows and columns.   
Our dataset holds the yearly population density for each country. We can therefore use Pandas to get some really quick and easy insights.

#### Loading our dataset

In [1]:
# importing the necessary dependencies
import pandas as pd

In [2]:
file_url = 'https://raw.githubusercontent.com/sandeep92134/The-Data-Visualization-Workshop-by-packt/master/module%201/world_population.csv'

In [4]:
# loading the Dataset
dataset = pd.read_csv(file_url, index_col=0)

**Note:**   
`index_col` enables you to use any column as index instead of the incrementing int column that gets added by default. In our case we want column 0, which is the country names, as indices.

In [5]:
# looking at the dataset
dataset.head()

             Country Code  ... 2016
Country Name               ...
Aruba                 ABW  ...  NaN
Andorra               AND  ...  NaN
Afghanistan           AFG  ...  NaN
Angola                AGO  ...  NaN
Albania               ALB  ...  NaN

[5 rows x 60 columns]

---

#### After loading our dataset

To get a quick overview on our dataset we want to print out the "shape" of it.   
This will give us an output of the form (rows, columns)

- Get the shape of the dataset
- Calculate the mean of the 1961 column
- Calculate the mean of the 2015 column
- Get the mean for each country and return the first 10 rows
- Get the mean for each feature (column) and return the last 10 entries
- Get the mean value for the whole dataset

In [6]:
# printing the shape of our dataset
dataset.shape

(264, 60)

In [7]:
# calculating the mean for 1961 column
dataset["1961"].mean()

176.91514132840538

In [8]:
# calculating the mean for 2015 column
dataset["2015"].mean()

368.7066010400187

**Note:**   
Only by comaparing the overall mean of the two years, 1961 and 2015, we can already see that the mean population density **more than doubled** in this time range.

In [9]:
# mean for each country (row)
dataset.mean(axis=1).head(10)

Country Name
Aruba                   413.944949
Andorra                 106.838839
Afghanistan              25.373379
Angola                    9.649583
Albania                  99.159197
Arab World               16.118586
United Arab Emirates     31.321721
Argentina                11.634028
Armenia                 103.415539
American Samoa          211.855636
dtype: float64

In [10]:
# mean for each feature (col)
dataset.mean(axis=0).tail(10)

2007    331.995474
2008    338.688417
2009    343.649206
2010    347.967029
2011    351.942027
2012    357.787305
2013    360.985726
2014    364.849194
2015    368.706601
2016           NaN
dtype: float64

**Note:**   
The axis parameter is again needed to control the aggregation flow.

In [11]:
# calculating the mean for the whole matrix
dataset.mean()

1960           NaN
1961    176.915141
1962    180.703231
1963    184.572413
1964    188.461797
1965    192.412363
1966    196.145042
1967    200.118063
1968    203.879464
1969    207.336102
1970    210.607871
1971    213.489694
1972    215.998475
1973    218.438708
1974    220.621210
1975    223.046375
1976    224.960258
1977    227.006734
1978    229.187306
1979    232.510772
1980    236.185357
1981    240.789508
1982    246.175178
1983    251.342389
1984    256.647822
1985    261.680751
1986    266.647038
1987    271.768300
1988    276.813259
1989    281.850054
1990    286.062387
1991    288.292566
1992    293.305416
1993    297.759160
1994    302.275463
1995    304.537276
1996    309.714948
1997    313.896935
1998    320.405981
1999    324.004669
2000    327.270760
2001    312.259570
2002    313.269043
2003    315.847613
2004    317.746559
2005    322.669534
2006    326.907971
2007    331.995474
2008    338.688417
2009    343.649206
2010    347.967029
2011    351.942027
2012    357.787305
2013    360.985726
2014    364.849194
2015    368.706601
2016           NaN
dtype: float64

**Note:**   
If you compare the result of this last cell with the one about `# mean for each col` you can see that the default axis is 0 which leads to the same result as the cell above.

---

Using a real dataset with Pandas can already give us some quick and easy insights into our data.  
In this case we can already see that the mean population density increased constantly for each year.